<!-- app/views/favorites/index.html.erb -->

<div class="container mt-5">
  <h1>Your Favorite Books</h1>

  <div id="cardsContainer" class="d-flex flex-wrap">
    <% @favorite_books.each do |book| %>
      <div class="card" style="width: 14rem; height: auto; margin: 5px">
        <% if book.image.attached? %>
          <div style="height: 300px; overflow: hidden;">
            <%= image_tag book.image, class: 'card-img-top', style: 'width: 100%; height: 100%; object-fit: cover;' %>
          </div>
        <% end %>

        <div class="card-body">
          <h5 class="card-title"><%= link_to book.title, book_path(book) %></h5>
          <p class="card-text"><%= book.description %></p>
          <p class="card-text"><strong>Creator:</strong> <%= book.user.email %></p>
          
          <!-- Heart Icon to Remove from Favorites -->
          <%= form_with url: book_favorite_path(book), method: :delete, local: true, class: 'd-inline' do %>
            <button type="submit" class="btn p-0" style="background: none; border: none;">
              <i class="bi bi-heart-fill text-danger" style="font-size: 1.5rem;"></i>
            </button>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
