<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <%= link_to 'Bookshare', root_path, class: 'navbar-brand' %>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">

        <!-- Add more navbar items as needed -->
      </ul>
      <ul class="navbar-nav">
                  <li class="nav-item">
            <%= button_to(
              "Favorites",
              user_favorites_path,
              method: :get,
              class: "nav-link"
            ) %>
          </li>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= button_to(
              "Log Out",
              destroy_user_session_path,
              method: :delete,
              class: "nav-link"
            ) %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= button_to(
              "Login",
              new_user_session_path,
              method: :get,
              class: "nav-link"
            ) %>
          </li>
          <li class="nav-item">
            <%= button_to(
              "Sign up",
              new_user_registration_path,
              method: :get,
              class: "nav-link"
            ) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
