<div class="container mt-5">
  <div class="row">
    <div class="col-md-8">
      <div class="card" style='width: 400px;'>
        <% if @book.image.attached? %>
          <div style="height: 300px; overflow: hidden;">
            <%= image_tag @book.image, class: 'card-img-top', style: 'width: 100%; height: 100%; object-fit: contain;' %>
          </div>
        <% end %>

        <div class="card-body">
          <h1 class="card-title"><%= @book.title %></h1>
          <p class="card-text"><%= @book.description %></p>
          <p class="card-text"><strong>Creator:</strong> <%= @user.email %></p>
          <%= link_to 'Back to Books', root_path, class: "btn btn-primary" %>
          <%= link_to 'Delete', @book, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger ms-2' %>
        </div>
      </div>

      <div class="mt-4">
        <h3>Comments</h3>
        <% @book.comments.each do |comment| %>
          <div class="comment mb-2">
            <p><strong><%= comment.user.email %></strong>: <%= comment.body %></p>
            <% if comment.user == current_user %>
              <%= link_to 'Delete Comment', book_comment_path(@book, comment), method: :delete, data: { confirm: 'Are you sure?', "turbo-method": :delete }, class: 'btn btn-danger btn-sm' %>
            <% end %>
          </div>
        <% end %>

        <h4>Add a Comment</h4>
        <%= form_with(model: [@book, @comment], url: book_comments_path(@book), local: true) do |form| %>
          <div class="form-group">
            <%= form.text_area :body, class: 'form-control', rows: 3 %>
          </div>
          <div class="form-group mt-2">
            <%= form.submit 'Submit', class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
